body
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/crop_bg.jpg') center center/cover no-repeat
    background-attachment: fixed
    max-width: 100%
    max-height: 100%

.contact
  a
    text-decoration: none
  &_block
    display: flex
    justify-content: center
    align-items: center
    text-decoration: none
  &_info
    display: flex
    justify-content: center
    align-items: center
    text-decoration: none

.mobile_head
  display: none
.promo
  hr
    border: none
    height: 0.7px
    background-color: white
    opacity: 1
    width: 70%
    margin: 5px auto 5px
    width: 1000px
    margin: 0 auto
    
  &_container
    padding-top: 180px
  h2
    font-size: 30px
    font-weight: 100
    line-height: 1.5
  &_header
    margin-top: 30px
    font-family: 'Roboto', sans-serif
    font-weight: bold
    color: #ffffff
    font-weight: 700
    text-transform: uppercase
    font-size: 50px
    line-height: 60px
    margin: 0
    text-align: center
    margin-bottom: 15px
  &_ekosfera
    display: flex
    justify-content: center
    color: #ffffff
    font-weight: 200px
    text-transform: uppercase
    line-height: 60px
    margin: 0
  &_subheader
    font-size: 20px
    color: #ffffff
    font-weight: 200px
    text-transform: uppercase
    line-height: 60px
    margin: 0
    text-align: center
  &_title
    font-family: 'Roboto', sans-serif
    color: #ffffff
    font-size: 35px
    text-align: center
    line-height: 45px
    text-transform: uppercase
    font-weight: bold

.advantages
  padding: 15px 0 80px 0
  i
    font-size: 70px
  &_wrapper
    margin-top: 10px
    display: flex
    justify-content: center
    
  &_item
    padding: 15px 5px 15px 5px
    display: flex
    flex-direction: column
    align-items: center
    width: 500px
    height: 300px
    font-size: 20px
    color: rgba(239, 237, 236, 0.9)
    background-color: rgba(0, 0, 0, 0.5)
    border-radius: 10px
  &_subtitle
    margin-top: 20px
    color:white
    font-size: 30px
    font-weight: 700
    text-align: center
  &_descr
    margin-top: 5px
    color: white
    font-size: 20px
    font-weight: 400
    text-align: center
  a
    text-decoration: none
  &_item_1
    margin-right: 5px
  &_item_2
    margin-left: 5px
  &_item_1:hover
    color: orange
    transition: 0.3s all
  &_item_2:hover
    color: rgba(45, 198, 48, 0.7)
    transition: 0.3s all

.carousel-caption
  background-color: gree
  font-family: Amatic
  font-weight: 400
  top: 80px
  h5
    display: block
    font-size: 40px
  p
    font-family: Roboto
    font-weight: 100
    font-size: 30px
    text-align: left
    
    
  
.carousel_1
  margin: 0 auto
  width: 80%
  
  img
    height: 600px
    border-radius: 15px
  h2
    text-align: center

.carousel_2
  padding-top: 100px
  margin: 0 auto
  width: 80%
  img
    height: 600px
    border-radius: 15px
    image: s
  h2
    text-align: center


footer
  position: fixed
  top: 0
  width: 100%
  

.foot
  height: 100px
    
  
@media screen and ( max-width: 575px)
  body
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/field.jpg') center center/cover no-repeat
    background-attachment: fixed
    max-width: 100%
    max-height: 100%
    
  &_container
    height: 330px
    padding: 170px 3px 100px 3px
    h1
      font-size: 18px
      line-height: 20px
      text-shadow: 1px 1px 2px black
    h2
      text-align: center
      font-size: 14px
      line-height: 20px
    h3
      margin-top: 15px
      font-size: 18px
      line-height: 20px
      text-shadow: 1px 1px 2px black
    hr
      width: 90%
      height: 1px
      margin-top: 3px
      margin-bottom: 3px
      
    &_1
    font-size: 10px
    
  footer
    width: 360px
    .mb-4
      margin-right: 20px

  .carousel_2
    padding-top: 40px


  .advantages
    &_container
      margin-top: 80px
    a
      margin: 0 auto
    padding-bottom: 40px
    &_wrapper
      display: flex
      flex-direction: column
      width: 100%
      margin: 0 auto
    &_item
      left: 50px
      height: 180px
      width: 300px
      i
        font-size: 30px
      &_2
        margin-top: 10px
        margin-left: 0
    &_subtitle
      margin-top: 5px
      font-size: 15px
      line-height: 20px
    &_descr
      line-height: 20px
      font-size: 15px
      font-weight: 100
  
  .mobile_head
    font-family: roboto
    display: block
    color: white
    text-transform: uppercase
    font-weight: 100
  .carousel-control-prev
    width: 5%
  .carousel-control-next
    width: 5%
  .carousel-caption
    top: 5px
    h5
      font-size: 25px
      display: none
    p
      font-size: 10px
  .carousel-item
      background: rgba(0, 0, 0, 0.5)
      resize: horizontal
      border: none
      overflow: auto
      max-width: 100%
      height: calc(100vh - 16px)
      padding-bottom: 75%
      position: relative
      overflow: hidden
      width: 100%
      height: 200px
      img
        display: none !important
  .carousel-indicators
    display: none
  .bottom_icon
    height: 60px

  footer 
    position: fixed
    height: 50px
    top: 0
    width: 100%
    .mb-4
      margin: 0 auto
      transform: translateY(-22px)